* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        "header header  "
        "column1 column1 "
        "column2 column3 "
        "footer footer ";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 2fr 2fr 2fr;
    height: 100vh;

}

.header {
    grid-area: header;
    background: #D9D9D9;
}

.column:nth-child(2) {
    grid-area: column1;
    background: #A4A4A4;
}

.column:nth-child(3) {
    grid-area: column2;
    background: #C8C5C5;
}

.column:nth-child(4) {
    grid-area: column3;
    background: #9F9B9B;
}

.footer {
    grid-area: footer;
    background: #D9D9D9;
}