.box {
    width: 250px;
    height: 250px;
    background: #f1f1b3;
    display: inline-block;
    margin: 20px;
    text-align: center;
    justify-content: center;
}

p {
    text-align: center;
    padding-top: 80px;
    font-size: 25px;
}

.font1 {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font2 {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.font3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font4 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font5 {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}