.widgets {
    background: dodgerblue;
    height: 50vh;
    margin: 25px;
    display: flex;
    justify-content: center;
    font-size: 10vh;
    align-items: center;
}

.flex {
    flex-wrap: wrap;
    display: flex;

}

.small-widgets {
    background: mediumblue;
    height: 56vh;
    width: 56vh;
    margin: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}

.contact {
    background: dodgerblue;
    height: 100vh;
    margin: 25px;
    display: flex;
    justify-content: center;
    font-size: 10vh;
    align-items: center;
}

