body {

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.section {
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

#red {
    background: #fb4343;
}

#blue {
    background: dodgerblue;
}

#green {
    background: #508757;
}

p {
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;

}

h3 {
    font-size: 100px;
    text-align: center;
    justify-content: center;
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
}