/* styles.css */
body {
    background-image: url("img/forest.webp");
    background-size: cover;
}

.active {
    color: dimgrey;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

.contact-info {
    margin-bottom: 20px;
}

.profile-pic {
    width: 200px;
    height: 150px;
    border-radius: 40%;
    margin-bottom: 20px;
    margin-top: 10px;
}

h1 {
    color: #508757;
}

h2 {
    margin: 10px 0;
}

a {
    color: #508757;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-media ul {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 10px;
}

