* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 35px;
}

header {
    height: 30vh;
    background: grey;
    border: white 5px solid;
}

.left {
    height: 70vh;
    width: 80vw;
    background: grey;
    border: white 5px solid;
}

.right {
    height: 70vh;
    width: 20vw;
    background: grey;
    border: white 5px solid;
}

.flex {
    display: flex;
}