body {
    margin: 0;
    padding: 0;

}

.section {
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

#pink {
    background: hotpink;
    color: black;
}

#black {
    background: black;
    color: white;
}

b {
    font-size: 50px;
    margin: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 20px;
}

b, p {
    font-family: "Fjalla One", sans-serif;
}