@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Bowlby One", sans-serif;
}

.container {
    width: 1440px;
    height: 3260px;
    background: #1E1E1E;
}

header>ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 51px;
    padding: 25px;
    color: white;
    font-size: 18px;
}

button {
    font-size: 18px;
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    font-family: "Bowlby One", sans-serif;
}

h2 {
    text-align: center;
    justify-content: center;
    font-size: 107px;
    color: #E9E3DC;
    padding: 50px;
}

div > main > img {
    margin-left: 320px;
    height: 396px;
    width: 800px;
}

div > section {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1340px;
    height: 369px;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    margin: 50px;
    display: flex;

}

h3 {
    color: #1E1E1E;
    font-size: 70px;
    text-align: left;
    margin-left: 100px;
}

div > section > p {
    color: #1E1E1E;
    font-size: 24px;
    margin: 30px;
    font-family: Inter;
    padding: 100px;
}

.center {
    width: 176px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-right: 225px;
    color: #1E1E1E;
    text-align: center;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    box-shadow: 8px 8px 0 0 #000;

}

.eat {
    width: 650px;
    height: 753px;
    margin-left: 45px;
    border-radius: 30px;
    border: 4px solid #E9E3DC;
}

.bottom {
    width: 1340px;
    height: 503px;
    margin: 50px;
    border-radius: 30px;
    border: 4px solid #D9D9D9;

}

h4 {
    color: #E9E3DC;
    text-align: center;
    font-size: 70px;
    margin-inline: 240px;
}

.lastbutton {
    color: #1E1E1E;
    text-align: center;
    width: 196px;
    height: 60px;
    background: #D1EF53;
    margin-left: 650px;
}